{% extends 'main.html' %}
{% load static %}
{% block content %}
<title>Assessments</title>

<style>
  .sidebar-assessments{
      background-color: #16A34A;
      color: white;
  }
</style>

{% for course in course %}
<div class=" flex max-w-sm mt-16 ml-80 bg-white rounded-2xl shadow-lg hover:bg-gray-100">

  <a href="{% url 'list' course.id %}">

  <img class="rounded-t-2xl" src="{{ course.cover.url }}" alt="" />
<div class="p-5">
  <h5 class="mb-4 text-2xl font-bold tracking-tight text-gray-900">{{course.title }} Assessments</h5>
<div class="w-full bg-gray-200 rounded-full h-2.5">
  <div class="bg-green-500 h-2.5 rounded-full" style="width: 23%"></div>
</div>
<p class="mb-3 font-normal text-gray-500">23% out of 100% assessments completed</p>
</div>

  </a>

</div>
{% endfor %}
{% endblock content %}









<!-- user_scores.html

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Quiz Scores</title>
</head>
<body>

  <h1>User Quiz Scores</h1>

  {% if quiz_scores %}
    <table>
      <thead>
        <tr>
          <th>Quiz</th>
          <th>Score</th>
          <th>Date Submitted</th>
        </tr>
      </thead>
      <tbody>
        {% for quiz_score in quiz_scores %}
          <tr>
            <td>{{ quiz_score.quiz.title }}</td>
            <td>{{ quiz_score.score }}%</td>
            <td>{{ quiz_score.user_progress.submission_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No quiz scores available.</p>
  {% endif %}

</body>
</html> -->
