{% extends 'main.html' %}
{% block content %}
<link rel="stylesheet" href="static/styles/home.css">
{% if user.is_authenticated %}

<div class="h-screen flex items-center justify-center">
    <div class="bg-white p-10 rounded-2xl shadow-md w-full max-w-lg">
        <h2 class=" font-semibold text-[#436E70] text-3xl mb-2">Delete Account</h2>

        <p class="pt-2 text-[#436E70] pb-2">Deleting your account will not recovered the following:</p>
        <ul class="p-2 bg-red-400 rounded-md">
            <li class="pt-2 pb-2 text-white flex flex-row ">
                <div class="flex gap-3 justify-center items-center ml-3">
                    <i class="fa-solid fa-circle-check fa-sm" style="color: #ffffff;"></i>
                    Course Certifications
                </div>
            </li>
            <li class="pt-2 pb-2 text-white flex flex-row">
                <div class="flex gap-3 justify-center items-center ml-3">
                    <i class="fa-solid fa-circle-check fa-sm" style="color: #ffffff;"></i>
                    Badges and Scores
                </div>
            </li>
            <li class="pt-2 pb-2 text-white flex">
                <div class="flex gap-3 justify-center items-center ml-3">
                    <i class="fa-solid fa-circle-check fa-sm" style="color: #ffffff;"></i>
                    Quizzes and Assessments
                </div>
              
            </li>
            <li class="pt-2 pb-2 text-white flex">
                <div class="flex gap-3 justify-center items-center ml-3">
                    <i class="fa-solid fa-circle-check fa-sm" style="color: #ffffff;"></i>
                    Username, Email and Password
                </div>
                
            </li>
            <li class="pt-2 pb-2 text-white flex">
                <div class="flex gap-3 justify-center items-center ml-3">
                    <i class="fa-solid fa-circle-check fa-sm" style="color: #ffffff;"></i>
                    Profile picture
                </div>
                
            </li>
        </ul>
        

        <form action=""  id="deleteAccForm"  method="POST" class="flex justify-end mt-5">
            <a href="{% url 'settings' %}" class="mt-2 ease-linear delete-button cursor-pointer bg-white border-2 border-red-600 font-medium text-red-600 hover:bg-red-600 hover:text-white py-3  px-3 mr-2 rounded-lg focus:outline-none focus:shadow-outline-green active:bg-red-800">
                Discard
            </a>
            {% csrf_token %}
            <button type="submit"class="mt-2 delete-button cursor-pointer bg-red-400 hover:bg-red-600 text-white hover:text-white py-1 px-2 border-2 border-red-600 rounded-lg focus:outline-none">
                Delete Account
            </button>
        </form>
    </div>
</div>

<style>
    .swal2-styled{
        border-radius: 0.50rem !important;
    }
    .swal2-modal {
        border-radius: 1rem !important; 
    }
    .confirm-button-class {
        color: #fff !important;
    }
    .cancel-button-class {
        color: red !important;      
    }
</style>

<script>

    $(document).on('submit', '#deleteAccForm', function (event4) {
        event4.preventDefault();
    
        // Show a confirmation dialog before proceeding with the delete operation
        Swal.fire({
            icon: 'warning',
            title: 'Are you sure?',
            text: 'You are about to delete your account permanently.',
            showCancelButton: true,
            confirmButtonColor: 'rgba(220,38,38,1)',
            cancelButtonColor: 'rgba(220,38,38,0.2)',
            confirmButtonText: 'Delete',
            customClass: {
                confirmButton: 'confirm-button-class',
                cancelButton: 'cancel-button-class',
            },
        }).then((result) => {
            if (result.isConfirmed) {
                // User confirmed, proceed with the AJAX request
    
                // Get form data
                var formData = new FormData(this);
    
                // Perform AJAX request
                $.ajax({
                    url: '/delete_account/',
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    success: function (data) {
                        // Check for success status and message
                        if (data.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success!',
                                text: data.message,
                                showConfirmButton: false,
                                timer: 3000
                            }).then((result) => {
                                if (result.isConfirmed || result.isDismissed) {
                                    window.location.href = "{% url 'home'%}";
                                }
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error!',
                                text: 'An error occurred while processing your request.',
                            });
                        }
                    },
                    error: function (error) {
                        console.error('Error submitting form via AJAX:', error);
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'An error occurred while processing your request.',
                        });
                    }
                });
            }
        });
    });
    </script>
    
{% endif %}

{% endblock content %}
