{% extends 'main.html' %}
{% load static %}
{% block content %}
<title>Discover</title>


<div class="grid max-w-md mt-16 ml-80 bg-white rounded-2xl shadow-lg">
    {% for course in courses %}
    <a href="#">
<img class="rounded-t-2xl" src="{{ course.cover.url }}" alt="" />
    </a>
<div class="p-5">
   
<a href="#">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{ course.title }}</h5>
</a>
<p class="mb-3 font-normal text-gray-500">Learn {{ course.title }} programming from scratch with hands-on experience in this {{ course.title }} full course!</p>
<a href="discover_python" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-green-600 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-600">
    Read more
     <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-3 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 15 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg>
</a>
                {% if course in enrolled_courses %}
                    <small class="text-gray-600">Already enrolled</small>
                {% else %}
                    <a class="text-green-600" href="{% url 'enroll' course_id=course.pk %}">Enroll Now</a>
                {% endif %}
</div>
{% endfor %}
</div>


<!-- <div class="bg-white mx-auto justify-center  items-center text-center p-10 w-full max-w-lg">
    <h1 class="text-3xl font-bold">Discover Courses</h1>
    <ul>
        {% for course in courses %}
            <li>
                {{ course.title }} - {{ course.description }}
                {% if course in enrolled_courses %}
                    <small class="text-green-600">Already enrolled</small>
                {% else %}
                    <a class="text-blue-600" href="{% url 'enroll' course_id=course.pk %}">Enroll Now</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div> -->
{% endblock content %}
