{% extends 'main.html' %}
{% load static %}

{% block content %}
<title>Manage Courses</title>

<style>
    .sidebar-manageCourse{
        background-color: #16A34A;
        color: white;
    }
  </style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function() {
        $("#defaultModal").click();

      

    });
    
</script>
<!-- Update your script to handle the edit button click event -->
<script>
    
    
    let cid;

    $(document).ready(function () {
        $(".edit-button").click(function () {
        cid = $(this).data("course-id");
        console.log("Course ID: " + cid);
  
        // Fetch course details using AJAX
        $.ajax({
          type: 'GET',
          url: '/get_course_details/' + cid + '/',
          success: function (data) {
  
            if (data && data.id && data.title) {
              // Populate modal fields with fetched data
              $("#cid").val(data.id);
              $("#title").val(data.title);

            } else {
              console.log("Error: Invalid data format received from the server.");
            }
          },
          error: function (error) {
            console.log("Error fetching course details:", error);
          }
        });
      });

      $(".manage-button").click(function () {
        cid = $(this).data("course-id");
        console.log("Course ID: " + cid);
  
        // Fetch course details using AJAX
        $.ajax({
          type: 'GET',
          url: '/manage_lesson/' + cid + '/',
          success: function (data) {
  
            if (data && data.id && data.title) {
              // Populate modal fields with fetched data
              $("#cid").val(data.id);
              $("#title").val(data.title);

            } else {
              console.log("Error: Invalid data format received from the server.");
            }
          },
          error: function (error) {
            console.log("Error fetching manage_lesson:", error);
          }
        });
      });
      // Delete button click event
    $(".delete-button").click(function () {
            cid = $(this).data("course-id");

            // Confirm deletion using SweetAlert2
            Swal.fire({
                icon: 'warning',
                title: 'Are you sure?',
                text: 'You are about to delete this course.',
                showCancelButton: true,
                confirmButtonColor: 'red',
                cancelButtonColor: 'lightgray',
                confirmButtonText: 'Delete Permanently',
                timer: 2500
            }).then((result) => {
                if (result.isConfirmed) {
                    var csrf_token = $('input[name=csrfmiddlewaretoken]').val();

                    // Make AJAX request to delete_course endpoint
                    $.ajax({
                        type: 'POST',
                        url: '/delete_course/' + cid + '/',
                        data: {
                            'csrfmiddlewaretoken': csrf_token
                        },
                        success: function (data) {
                            if (data.success) {
                                Swal.fire({
                                icon: 'success',
                                title: 'Deleted',
                                text: 'Course deleted permanently!',
                                showConfirmButton: false,
                            }).then((result) => {
                                if (result.isConfirmed || result.isDismissed) {
                                    location.reload();
                                }
                            });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: 'Error deleting course: ' + data.error
                                });
                            }
                        },
                        error: function (error) {
                            console.log("Error deleting courses:", error);
                        }
                    });
                }
            });
        });
    });
  </script>

  
  
  
<link rel="stylesheet" href="static/styles/home.css">
<!-- Include Flowbite styles -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
<!-- Include Flowbite scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>

<div class="flex flex-col ml-72 mt-10 mr-10 lg:flex-row">
    <!-- Sidebar -->
    
    
    <!-- Main Content -->
    <div class="flex-auto overflow-x-auto p-4 lg:p-10">
        <h1 class="text-3xl mb-8 font-semibold">Manage Courses</h1>
        
        <div class="flex flex-row items-center mb-4 gap-4">
            <a href="{% url 'add_course' %}" class="text-white bg-gradient-to-br from-[#25A76F] to-[#385F61] hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                Add Course
            </a>
     
        </div>
        
        
        <!-- Activity Log Table -->
        <div class="z-0 overflow-x-auto max-h-[800px] min-w-max">
            {% if courses %}
            <table id="activityTable" class="data-table min-w-full bg-white shadow-md rounded-lg overflow-hidden">
                <thead class="bg-[#F4F9F1] text-black text-left">
                <tr>
                    <th class="py-2 px-4 sticky top-0">Title</th>
                    <th class="py-2 px-4 sticky top-0">Enrolled</th>
                    <th class="py-2 px-4 sticky top-0">Edit</th>
                    <th class="py-2 px-4 sticky top-0">Manage</th>
                    <th class="py-2 px-4 sticky top-0">Delete</th>
                </tr>
                </thead>
                <tbody>
                <!-- Activity Log Rows -->
                {% for course in courses %}
                    <tr>
                        <td class="font-bold py-2 px-4">{{ course.title }}</td>
                        <td class="py-2 px-4">{{ course.users.count }} users enrolled</td>
                        <td class="py-2 px-4">
                            <button type="button" class="text-green-500 edit-button hover:underline" id="edit_btn" data-course-id="{{ course.id }}" data-modal-target="defaultModal" data-modal-toggle="defaultModal" data-modal-course-id="{{ course.id }}">
                                Edit
                            </button>
                        </td>
                        <td class="py-2 px-4">
                            <a type="button" href="{% url 'manage_lesson' %}" class="text-green-500 manage-button hover:underline" id="manage_btn" data-course-id="{{ course.id }}"  data-modal-course-id="{{ course.id }}">
                                Manage Lesson
                            </a>
                        </td>
                        <td class="py-2 px-4">
                            <button class="text-red-500 delete-button hover:underline" data-course-id="{{ course.id }}" type="button">
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="text-lg font-medium">No courses yet.</p>
            {% endif %}
        </div>
    </div>
</div>


<!-- Main modal -->

<div id="defaultModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative p-4 bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5">
                <h3 class="text-lg font-semibold text-gray-900">
                    Edit course
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center " data-modal-toggle="defaultModal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form method="post" action="{% url 'update_course' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class=" mb-4 sm:grid-cols-2">
                    <div>
                        <label for="title" class="block mb-2 text-sm font-medium text-gray-900">Title</label>
                        <input type="text" name="title" id="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Edit course title" required>
                        <input class="hidden" type="number" name="cid" hidden id="cid">
                    </div>
                </div>
                <div>
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="fileInput">
                    </label>
                    
                    <img src="{{ course.cover.url }}" alt="{{ course.title }}" class="mb-2" style="max-width: 100%">
                    {{ form.cover }}
                </div>
                
                    
                <button id="save" type="submit" class="text-white bg-green-600 inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
      
                    Save changes
                </button>
            </form>
        </div>
    </div>
</div>



{% endblock content %}
