{% extends 'main.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<div class="bg-white mx-auto justify-center items-center text-center p-10 w-full max-w-lg">

    <h1>Edit Profile</h1>

    <!-- Profile Update Form -->
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
            <div class="w-full">
                <label for="{{ form.username.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">Username</label>
                {{ form.username }}
            </div>
            <div class="w-full">
                <label for="{{ form.first_name.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">First Name</label>
                {{ form.first_name }}
            </div>
            <div class="w-full">
                <label for="{{ form.last_name.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">Last Name</label>
                {{ form.last_name }}
            </div>
            <div class="w-full">
                <label for="{{ form.email.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                {{ form.email }}
            </div>
            <div class="sm:col-span-2">
                <label for="{{ form.avatar.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">Avatar</label>
                {{ form.avatar }}
            </div>
        </div>
        <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-green-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
            Save Changes
        </button>
    </form>
</div>
{% endif %}
{% endblock content %}
