{% extends 'main.html' %}
{%load static}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PAL | Activity Logs</title>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  <script src="https://rawgit.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/datepicker.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="static/styles/home.css">

</head>

<style>
  .sidebar-activity{
      background-color: #16A34A;
      color: white;
  }
</style>

<body >
  <!-- component -->
  <section class="container ml-72 px-4 mx-auto">
    <div class="sm:flex sm:items-center sm:justify-between mt-10">
        <div>
            <div class="flex items-center gap-x-3">
                <h1 class="text-3xl font-semibold text-gray-800">Activity Logs</h1>
            </div>

        </div>

        <div class="flex items-center mt-4 gap-x-3">
            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 transition-colors duration-200 bg-white border rounded-lg gap-x-2 sm:w-auto dark:hover:bg-green-100">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_3098_154395)">
                    <path d="M13.3333 13.3332L9.99997 9.9999M9.99997 9.9999L6.66663 13.3332M9.99997 9.9999V17.4999M16.9916 15.3249C17.8044 14.8818 18.4465 14.1806 18.8165 13.3321C19.1866 12.4835 19.2635 11.5359 19.0351 10.6388C18.8068 9.7417 18.2862 8.94616 17.5555 8.37778C16.8248 7.80939 15.9257 7.50052 15 7.4999H13.95C13.6977 6.52427 13.2276 5.61852 12.5749 4.85073C11.9222 4.08295 11.104 3.47311 10.1817 3.06708C9.25943 2.66104 8.25709 2.46937 7.25006 2.50647C6.24304 2.54358 5.25752 2.80849 4.36761 3.28129C3.47771 3.7541 2.70656 4.42249 2.11215 5.23622C1.51774 6.04996 1.11554 6.98785 0.935783 7.9794C0.756025 8.97095 0.803388 9.99035 1.07431 10.961C1.34523 11.9316 1.83267 12.8281 2.49997 13.5832" stroke="currentColor" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_3098_154395">
                    <rect width="20" height="20" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>

                <span>Export</span>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 bg-gray-100">
              <ul class="py-2 text-sm text-gray-700 text-gray-200" aria-labelledby="dropdownDefaultButton">
                <li id="toPDF">
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 " >PDF</a>
                </li>
                <li id="toEXCEL">
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 ">Excel</a>
                </li>
                <li id="toCSV">
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 ">CSV</a>
                </li>
                <li id="toJSON">
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 ">JSON</a>
                </li>
              </ul>
            </div>

            
        </div>
    </div>

    <div class="mt-6 md:flex md:items-center md:justify-between">
        <div class="inline-flex overflow-hidden bg-white border divide-x rounded-lg dark:bg-gray-900 rtl:flex-row-reverse dark:border-gray-700 dark:divide-gray-700">
            
            <select 
              onchange="updateTableRows()" id="rowsPerPage" class="px-5 py-2 text-xs font-medium appearance-none h-full rounded-l border block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
              <option id="allRowsOption">All</option>
              <option>10</option>
              <option>30</option>
              <option>50</option>
            </select>
            <select
              id="monthDropdown"
              onchange="filterTableMonth()"  id="rowsPerMonth" class="px-5 py-2 text-xs font-medium appearance-none h-full rounded-l border block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
              <option id="allRowsOption">All Months</option>
              <option>January</option>
              <option>February</option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option>September</option>
              <option>October</option>
              <option>November</option>
              <option>December</option>
            </select>
            <select 
              id="yearDropdown"
              onchange="filterTableYear()" id="rowsPerYear" class="px-5 py-2 text-xs font-medium appearance-none h-full rounded-l border block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
              <option id="allRowsOption">All Years</option>
              <option>2023</option>
              <option>2024</option>
              <option>2025</option>
            </select>     
        </div>
        <div date-rangepicker class="flex items-center">
            <div class="relative">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                   <svg class="w-4 h-4 text-gray-500 dark:text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                  </svg>
              </div>
              <input id="startDate" name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full ps-10 p-2.5   focus:border-green-500" placeholder="Select date start">
            </div>
            <span class="mx-4 text-gray-500">to</span>
            <div class="relative">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                   <svg class="w-4 h-4 text-gray-500 dark:text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                  </svg>
              </div>
              <input id="endDate" name="end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full ps-10 p-2.5 focus:border-green-500" placeholder="Select date end">
          </div>
          <button onclick="filterTable()" type="button" class="ml-1 text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-small rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Filter</button>
          <button onclick="resetTable()" type="button" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-small rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">Reset</button>
          
        </div>
          
        <div class="relative flex items-center mt-4 md:mt-0">
            <span class="absolute">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mx-3 text-gray-400 dark:text-gray-600">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </span>

            <input type="text" id="searchInput" oninput="searchTable()" placeholder="Search" class="block w-full py-1.5 pr-5 text-gray-700 bg-white border border-gray-200 rounded-lg md:w-80 placeholder-gray-400/70 pl-11 rtl:pr-11 rtl:pl-5   dark:border-gray-600 focus:border-green-400 focus:border-green-300 focus:ring-green-300 focus:outline-none focus:ring focus:ring-opacity-40">
        </div>
    </div>

    <div class="flex flex-col mt-6">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden border border-gray-200 md:rounded-lg">
                    <table id="logTable" class="min-w-full divide-y divide-gray-200 divide-gray-100">
                        <thead class="bg-[#F4F9F1] text-black">
                            <tr>
                                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 ">
                                    <button class="flex items-center gap-x-3 focus:outline-none ">
                                        <span>Avatar</span>
                                    </button>
                                </th>
                                <th scope="col" class="py-3.5 px-4 text-sm font-normal text-left rtl:text-right text-gray-500 " onclick="sortTable(0, this)">
                                  <button class="flex items-center gap-x-3 focus:outline-none ">
                                      <span>Username</span>
                                      
                                  </button>
                                </th>

                                <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 ">
                                    Name 
                                </th>

                                <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 " >
                                    User Activity 
                                </th>

                                <th scope="col" class="px-12 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 " >
                                    Course 
                                </th>

                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500 " >
                                    Date
                                </th>
                                <th scope="col" class="px-4 py-3.5 text-sm font-normal text-left rtl:text-right text-gray-500" >
                                    Time
                                </th>

                                <th scope="col" class="relative py-3.5 px-4">
                                    <span class="sr-only">Delete</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:divide-gray-700">
                        {% for log in logs %}
                          <tr>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                              <div class="flex items-center">
                                <div class="flex-shrink-0 w-10 h-10">

                                    <img src="{{ log.user.avatar.url }}" alt="{{ log.user.username }} Avatar" width="40" height="40" class="h-10 w-10 rounded-full">

                                </div>
                                </div>
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                              <div class="flex items-center">
                                  <div class="ml-3">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        <a href="{% url 'profile' log.user.username %}" class="text-green-600">@{{ log.user }}</a>
                                    </p>
                                  </div> 
                                </div>
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <div class="flex items-center">
                                    <div class="ml-3">
                                      <p class="text-gray-900 whitespace-no-wrap">
                                        {{ log.user.first_name }} {{ log.user.last_name }}
                                      </p>
                                    </div> 
                                  </div>
                              </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                              <p class="text-gray-900 whitespace-no-wrap">{{ log.get_log_type_display }}</p>
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <p class="text-gray-900 whitespace-no-wrap">{{ log.course }}</p>
                              </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                              <p class="text-gray-900 whitespace-no-wrap">
                                {{ log.formatted_date }}
                              </p>
                            </td>
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                <p class="text-gray-900 whitespace-no-wrap">
                                  {{ log.formatted_time }}
                                </p>
                              </td>
                        
                            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                      
                            <a href="{% url 'delete-item' id=log.id %}" class="text-gray-400 hover:text-red-400 ml-2 delete-button" data-log-id="{{ log.id }}">

                                <i class="material-icons-round text-lg">delete_outline</i>
                              </a>
                            </td>
                          </tr>
                          {% endfor %}                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-6 sm:flex sm:items-center sm:justify-between ">
        <div id="paginationInfo" class="text-sm text-gray-500 ">
            Page <span class="font-medium text-gray-700">1 of 1</span> 
        </div>

        <div class="flex items-center mt-4 gap-x-4 sm:mt-0">
            <a id="prevPage" href="#" class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                </svg>

                <span>
                    previous
                </span>
            </a>

            <a id="nextPage" href="#" class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100">
                <span>
                    Next
                </span>

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                </svg>
            </a>
        </div>
    </div>
  </section>

  
</body>

<script>
  
  // SEARCH
  function searchTable() {
    // Get the input value
    const input = document.getElementById('searchInput').value.toLowerCase();

  
    const table = document.getElementById('logTable');
    const rows = table.querySelectorAll('tbody tr');

    rows.forEach(row => {
      const username = row.querySelector('td:nth-child(2)').textContent.toLowerCase();
      const fullName = row.querySelector('td:nth-child(3)').textContent.toLowerCase();
      const activity = row.querySelector('td:nth-child(4)').textContent.toLowerCase();
      const course = row.querySelector('td:nth-child(5)').textContent.toLowerCase();
      const date = row.querySelector('td:nth-child(6)').textContent.toLowerCase();
      const time = row.querySelector('td:nth-child(7)').textContent.toLowerCase();


    
      if (username.includes(input) || fullName.includes(input) || activity.includes(input) || course.includes(input) || date.includes(input) || time.includes(input)) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    });
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
  // FILTER BY YEAR
  function filterTableYear() {
    // Get the selected year from the dropdown
    const selectedYear = document.getElementById('yearDropdown').value;

    // Get all table rows
    const table = document.getElementById('logTable');
    const rows = table.querySelectorAll('tbody tr');

    // Loop through each row
    rows.forEach(row => {
      // Get the date column value for each row
      const dateValue = row.querySelector('td:nth-child(6)').textContent;

      // Parse the date value using moment.js
      const rowDate = moment(dateValue, 'MM/DD/YYYY');

      // Check if the selected year is "All Years" or the row's year matches the selected year
      if (selectedYear === 'All Years' || (rowDate.isValid() && rowDate.format('YYYY') === selectedYear)) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    });
  }
</script>

<script>
  // FILTER BY MONTH
  function filterTableMonth() {
    // Get the selected month from the dropdown
    const selectedMonth = document.getElementById('monthDropdown').value;

    // Get all table rows
    const table = document.getElementById('logTable');
    const rows = table.querySelectorAll('tbody tr');

    // Loop through each row
    rows.forEach(row => {
      // Get the date column value for each row
      const dateValue = row.querySelector('td:nth-child(6)').textContent;

      // Parse the date value using moment.js
      const rowDate = moment(dateValue, 'MM/DD/YYYY');

      // Check if the selected month is "All Months" or the row's month matches the selected month
      if (selectedMonth === 'All Months' || (rowDate.isValid() && rowDate.format('MMMM') === selectedMonth)) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    });
  }
</script>

<script>
  
  // FILTER BY DATE RANGE
  function filterTable() {

    const startDate = document.getElementById('startDate').value;
    const endDate = document.getElementById('endDate').value;

    
    const startDateObj = moment(startDate, 'MM/DD/YYYY');
    const endDateObj = moment(endDate, 'MM/DD/YYYY');

 
    const table = document.getElementById('logTable');
    const rows = table.querySelectorAll('tbody tr');

    rows.forEach(row => {

      const dateValue = row.querySelector('td:nth-child(6)').textContent;


      const rowDate = moment(dateValue, 'MM/DD/YYYY');

   
      if (rowDate.isValid()) {
      
        if (rowDate.isSameOrAfter(startDateObj) && rowDate.isSameOrBefore(endDateObj)) {
          row.style.display = '';
        } else {
          row.style.display = 'none';
        }
      } else {
     
        console.error('Invalid date format:', dateValue);
      }
    });
  }

  //RESET FILTER DATE
function resetTable() {

    document.getElementById('startDate').value = '';
    document.getElementById('endDate').value = '';

 
    rows.forEach(row => {
        row.style.display = '';
    });


    const paginationInfo = document.getElementById('paginationInfo');
    paginationInfo.textContent = `Page 1 of 1`;
    currentPage = 1;
}

</script>


</html>
<script>
//-----------DELETE LOGS-----------------------------
document.addEventListener('DOMContentLoaded', function () {
    const deleteButtons = document.querySelectorAll('.delete-button');

    deleteButtons.forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();

          
            const logId = button.dataset.logId;

    
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                
                    const csrftoken = getCookie('csrftoken');

             
                    deleteLog(logId, csrftoken);

                    const row = event.target.closest('tr');
                    if (row) {
                        row.remove();
                    }

                    Swal.fire({
                        title: "Deleted!",
                        text: "Your log has been deleted.",
                        icon: "success"
                    });
                }
            });
        });
    });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
             
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }


    function deleteLog(logId, csrftoken) {
        fetch(`/delete-item/${logId}/`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
              
                'X-CSRFToken': csrftoken,
            },
          
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
        
            })
            .catch(error => {
                console.error('Error deleting log:', error);
            });
    }
});

//--------EXPORT FUNCTIONS----------------

//TO PDF
document.getElementById('toPDF').addEventListener('click', function () {
    // Clone the table
    const originalTable = document.getElementById('logTable');
    const clonedTable = originalTable.cloneNode(true);

    const rows = clonedTable.getElementsByTagName('tr');
    for (let i = 0; i < rows.length; i++) {
      rows[i].lastElementChild.remove();
    }

    html2pdf(clonedTable, {
      margin: 10,
      filename: 'activity_logs.pdf',
      image: { type: 'jpeg', quality: 0.98 },
      html2canvas: { scale: 2 },
      jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
    });
  });



//TO JSON
const toJSON = function (table) {
    let table_data = [],
      t_head = [],
      t_headings = table.querySelectorAll('th:not(:last-child)'), 
      t_rows = table.querySelectorAll('tbody tr');

    for (let t_heading of t_headings) {
      t_head.push(t_heading.textContent.trim().toLowerCase());
    }

    t_rows.forEach((row, rowIndex) => {
      const row_object = {},
        t_cells = row.querySelectorAll('td:not(:last-child)'); 

      t_cells.forEach((t_cell, cell_index) => {
        const img = t_cell.querySelector('img');
        if (img) {
          row_object['picture'] = decodeURIComponent(img.src);
        }
        row_object[t_head[cell_index]] = t_cell.textContent.trim();
      });

      table_data.push(row_object);
    });

    return table_data;
  };

  const userTable = document.getElementById('logTable');

  const jsonBtn = document.getElementById('toJSON');
  jsonBtn.onclick = () => {
    const json = toJSON(userTable);
    console.log(JSON.stringify(json, null, 4));

    downloadFile(JSON.stringify(json, null, 4), 'json', 'logTable.json');
  };


  
const downloadFile = function (data, fileType, fileName = '') {
 const blob = new Blob([data], { type: fileType });
 const url = URL.createObjectURL(blob);

 const a = document.createElement('a');
 a.href = url;
 a.download = fileName;
 document.body.appendChild(a);
 a.click();
 document.body.removeChild(a);
 URL.revokeObjectURL(url);
};

//TO EXCEL

document.getElementById('toEXCEL').addEventListener('click', function () {
    // Clone the table
    const originalTable = document.getElementById('logTable');
    const clonedTable = originalTable.cloneNode(true);

    const rows = clonedTable.getElementsByTagName('tr');
    for (let i = 0; i < rows.length; i++) {
      rows[i].lastElementChild.remove();
    }

    const imgElements = clonedTable.querySelectorAll('img');
    imgElements.forEach(img => {
      const imgLink = document.createTextNode(img.src);
      img.parentNode.replaceChild(imgLink, img);
    });


    const wb = XLSX.utils.table_to_book(clonedTable, { sheet: 'Sheet1' });

    XLSX.writeFile(wb, 'activity_logs.xlsx');
  });


//TO CSV
document.getElementById('toCSV').addEventListener('click', function () {
    // Clone the table
    const originalTable = document.getElementById('logTable');
    const clonedTable = originalTable.cloneNode(true);

    const rows = clonedTable.getElementsByTagName('tr');
    for (let i = 0; i < rows.length; i++) {
      rows[i].lastElementChild.remove();
    }


    const headerCells = clonedTable.querySelectorAll('thead th');
    const headerData = Array.from(headerCells).map(cell => cell.textContent.trim());

   
    const imgElements = clonedTable.querySelectorAll('img');
    imgElements.forEach(img => {
      const imgLink = document.createTextNode(img.src);
      img.parentNode.replaceChild(imgLink, img);
    });

 
    const csvData = [];
    csvData.push(headerData.join(',')); 
    const rowsCSV = clonedTable.querySelectorAll('tbody tr');
    rowsCSV.forEach(row => {
      const rowData = [];
      const cells = row.querySelectorAll('td');
      cells.forEach(cell => {
        rowData.push(cell.textContent.trim());
      });
      csvData.push(rowData.join(','));
    });

 
    const csvBlob = new Blob([csvData.join('\n')], { type: 'text/csv' });


    const link = document.createElement('a');
    link.href = URL.createObjectURL(csvBlob);
    link.download = 'activity_logs.csv';
    link.click();
});



//PAGINATION
let currentPage = 1;
const rowsPerPageSelect = document.getElementById('rowsPerPage');
const table = document.getElementById('logTable');
const rows = table.querySelectorAll('tbody tr');

// Update table rows when the page size changes
rowsPerPageSelect.addEventListener('change', updateTableRows);

// Initialize pagination
updateTableRows();

function updateTableRows() {
  const rowsPerPageSelect = document.getElementById('rowsPerPage');
  const selectedOption = rowsPerPageSelect.value;

  // Check if the "All" option is selected
  if (selectedOption.toLowerCase() === 'all') {
    // Show all rows
    rows.forEach(row => {
      row.style.display = '';
    });
  } else {
    const rowsPerPage = parseInt(selectedOption, 10);
    const totalRows = rows.length;
    const totalPages = Math.ceil(totalRows / rowsPerPage);

    // Calculate the start and end indices for the current page
    const startIndex = (currentPage - 1) * rowsPerPage;
    const endIndex = Math.min(startIndex + rowsPerPage, totalRows);

    // Loop through each row and hide/show based on the current page
    rows.forEach((row, index) => {
      if (index >= startIndex && index < endIndex) {
        row.style.display = '';
      } else {
        row.style.display = 'none';
      }
    });

    // Show the rows for the current page
    for (let i = startIndex; i < endIndex && i < totalRows; i++) {
      rows[i].style.display = '';
    }

    // Update pagination information
    const paginationInfo = document.getElementById('paginationInfo');
    paginationInfo.textContent = `Page ${currentPage} of ${totalPages}`;
  }
}

// Previous page button
document.getElementById('prevPage').addEventListener('click', () => {
  if (currentPage > 1) {
    currentPage--;
    updateTableRows();
  }
});

// Next page button
document.getElementById('nextPage').addEventListener('click', () => {
  const rowsPerPage = parseInt(rowsPerPageSelect.value, 10);
  const totalRows = rows.length;
  const totalPages = Math.ceil(totalRows / rowsPerPage);

  if (currentPage < totalPages) {
    currentPage++;
    updateTableRows();
  }
});

</script>



{% endblock content %}





